/* define overall styling, text etc */
body {
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

#heading1 {

    color: blueviolet;
}

#heading2 {
    color: brown;

}

/* use flex wrap for the boxes */
#grid {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
width: 600px;
}

/* when I eventually do the wordle boxes, heres the CSS */
.box {
    border: 3px solid black;
    margin: 2px;
    height: 50px;
    width: 50px;
}